KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/driver/driver_keyboard.o \
$(ARCHDIR)/driver/driver_timer.o \
$(ARCHDIR)/kernel/shell.o \
$(ARCHDIR)/kernel/tty.o \
$(ARCHDIR)/memory/global_descriptor_table.o \
$(ARCHDIR)/memory/interrupt_descriptor_table.o \
$(ARCHDIR)/memory/interrupt_request.o \
$(ARCHDIR)/memory/interrupt_service_routines.o \
$(ARCHDIR)/memory/liballoc.o \
$(ARCHDIR)/memory/liballoc_f.o \
$(ARCHDIR)/memory/memory.o \
$(ARCHDIR)/memory/paging.o \
$(ARCHDIR)/process/process.o \
